$alpina-tw: "GT Alpina Tw Trial";
$alpina: "GT Alpina Trial";
$raster-roman-blended: "FK Raster Roman Compact Trial Blended";
$raster-grotesk-blended: "FK Raster Grotesk Trial Blended";
$maxi: "ABC Maxi Round Mono Trial";
