@font-face {
  font-family: "FK Raster Grotesk Trial Blended";
  src: url(../../assets/fonts/Raster/FKRasterGroteskTrial-Blended.otf);
}

@font-face {
  font-family: "FK Raster Roman Compact Trial Blended";
  src: url(../../assets/fonts/Raster/FKRasterRomanCompactTrial-Blended.otf);
}

@font-face {
  font-family: "GT Alpina Tw Trial";
  src: url(../../assets/fonts/Alpina/GT-Alpina-Typewriter-Regular-Trial.otf);
  font-weight: 400;
}

@font-face {
  font-family: "GT Alpina Trial";
  src: url(../../assets/fonts/Alpina/GT-Alpina-Thin-Trial.otf);
  font-weight: 300;
}

@font-face {
  font-family: "GT Alpina Trial";
  src: url(../../assets/fonts/Alpina/GT-Alpina-Thin-Italic-Trial.otf);
  font-weight: 300;
  font-style: italic;
}
