@import "../../styles/abstracts/";

.main {
  padding: 1rem;
  flex: 1 1 66%;
  min-height: calc(100vh - 4.25rem);
}

.text {
  font-family: $alpina;
  font-size: calc(1.5rem + 3.5vw);
  font-weight: 300;
}

a {
  .text & {
    text-decoration-thickness: 4%;

    &:hover {
      text-decoration: none;
    }
  }
}

.noThanks {
  position: relative;
}

.skype {
  position: absolute;
  width: calc(100% - 0.175em);
  left: -0.15em;
  top: -0.15em;
}

.compassWrapper {
  white-space: pre;
}
